.navbar{
    height: 60px;
}

.navbar-nav{
    gap: 20px;
}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}